<div class="product-list">
  @if(products.length === 0) {
    <div class="no-post">No products available.</div>
  }
  @else {
    @for (product of products; track $index) {
      <div class="product-card">
        <img [src]="product.productImage" alt="{{ product.productName }}" />
        <h3>{{ product.productName }}</h3>
        <p>{{ product.description }}</p>
        <button class="view-details" [routerLink]="['/catalog', product._id]">Виж повече</button>
      </div>
    }
  }
</div>

@if(totalPages > 1){
<div class="pagination-container">
  <button (click)="loadPage(currentPage - 1)" [disabled]="currentPage === 1"  class="pagination-btn">Предишна</button>
  <span>Страница {{ currentPage }} от {{ totalPages }}</span>
  <button (click)="loadPage(currentPage + 1)" [disabled]="currentPage === totalPages"  class="pagination-btn">Следваща</button>
</div>
}