/* Основен стил за footer */
footer {
    position: absolute;  /* Променяме на absolute */
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
}

/* Контейнер за организиране на секциите */
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}
