/* Стил за формата */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;              /* 100% ширина на контейнера */
    max-width: 400px;         /* Максимална ширина на формата */
    text-align: center;       /* Центриране на текста в формата */
    box-sizing: border-box;   /* Включва padding в общата ширина */
    margin: 0 auto;
}

/* Стил за заглавията */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

/* Стил за полетата */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Стил за бутона */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Стил за линка за регистрация */
p {
    font-size: 14px;
    color: #555;
    text-align: center; 
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
