<!-- header.component.html -->
<header>
    <div class="logo">
        <h1>Магазин за добавки</h1>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/"><i class="fas fa-home"></i> Начало</a></li>
            <li><a routerLink="/products"><i class="fas fa-box-open"></i> Продукти</a></li>
            <li><a routerLink="/about"><i class="fas fa-info-circle"></i> За нас</a></li>
            <li><a routerLink="/contact"><i class="fas fa-envelope"></i> Контакт</a></li>
            <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Вход</a></li>
            <li><a routerLink="/register"><i class="fas fa-user-plus"></i> Регистрация</a></li>

            
        </ul>
    </nav>
    
</header>
