



<header>
    <div class="logo">
        <h1>Енциклопедия за добавки</h1>
    </div>
    <nav>
        <ul>
        
            <li><a routerLink="/"><i class="fas fa-home"></i> Начало</a></li>
            <li><a routerLink="/catalog"><i class="fas fa-box-open"></i> Продукти</a></li>
            <li><a routerLink="/search"><i class="fas fa-search"></i> Търсене</a></li>
            <li><a routerLink="/about"><i class="fas fa-info-circle"></i> За нас</a></li>
            <li><a routerLink="/contact"><i class="fas fa-envelope"></i> Контакт</a></li>
            @if(isLoggedIn ){
                <li class="user-profile-btn">
                    <a routerLink="/profile">
                      <i class="fas fa-user-circle"></i> {{ username }}'s Profile
                    </a>
                  </li>
                  <li><a routerLink="/add-product"><i class="fas fa-box-open"></i> Добави продукт</a></li>
    
                <li>
                    <a (click)="logout()">
                      <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                  </li>
            }   @else {
            <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Вход</a></li>
            <li><a routerLink="/register"><i class="fas fa-user-plus"></i> Регистрация</a></li>
            }
        </ul>
    </nav>
</header>
