.search-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
  
  .product-card {
    width: calc(25% - 15px);
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .product-card button {
   background-color:#4CAF50
  }
  
  .product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-bottom: 40px; 
  }
  
  .pagination-container button {
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .pagination-container button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-container span {
    font-size: 16px;
    color: #333;
  }
  
  
  .no-results {
    font-size: 18px;
    color: #d32f23;
  }
  