
<div class="search-container">
    <h2>Търси продукти</h2>
    <div class="search-bar">
      <input [(ngModel)]="searchQuery" placeholder="Напишете какво търсите..." />
      <button (click)="performSearch()">Търсене</button>
    </div>
  </div>
  
  
  @if(isLoading) {
    <div class="loading">Зареждане...</div>
  }
  

  @if(searchResults.length > 0) {
    <div class="product-list">
      @for (product of searchResults; track trackByProductId) {
        <div class="product-card">
          <img [src]="product.productImage" alt="Product image" />
          <h3>{{ product.productName }}</h3>
          <p>{{ product.description }}</p>
          <button class="view-details" [routerLink]="['/catalog', product._id]">Виж повече</button>
        </div>
      }
    </div>
  }
  @if (totalPages > 1) {
    <div class="pagination-container">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        Previous
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  }
  
  
  @if (searchResults.length === 0 && !isLoading) {
    <div class="no-results">
      No products found.
    </div>
  }
  